.todo-form {
    display: flex;
    margin-bottom: 20px;
  }
  .todo-titre{
    text-align: center;
    color: #4caf50;
  }
  .todo-form input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
  }
 
 
  .todo-form button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .todo-form button:hover {
    background-color: #45a049;

  }
  