*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
  color: rgb(28, 28, 156);
}
.navbar{
  padding-inline: 2.5rem;
  display: flex;
  align-items: baseline;
}


.Link{
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  
}
.Link_logo{
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;

}

.form-inline ul{
  display: flex;
}

.form-inline li {
  margin-inline: 1rem;
  list-style: none;
}


.cont{
  
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(230, 227, 224);
}
.body{
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  background-color: rgb(218, 214, 209);
  margin: auto;
  padding-block: 2rem;
  border: 1px solid;
}

.body input{
  width: 45%;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
  color:gray;
  border-radius: 8px;
}

.display{
  width: 90%;
  border: 1px solid black;
  border-radius: 5px;
  margin-block: 2rem;
  padding: 1.5rem;
}

.left .info .right{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.info{
  flex-direction: column;
}
p{
  font-weight: bold;

}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  flex-wrap: wrap;
}

.left{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logoWeather{
  width: fit-content;
  height:fit-content;
}

.logoWeather .icon {
  font-size: 80px;
}

.info{
  width: 40%;
  margin-left: 20px;
}

.display h1{
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  margin-block: 2rem;
}

.right{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right button{
   margin-left: 120px; 
  font-size: 18px;
background-color: red;
  padding: 5px;

  border-radius: 8px;

}

.right .icon2{
  font-size: 20px;
}

.added{
  color: red;
}

.nextDaysCards{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cards{
  min-width: fit-content;
  min-height: fit-content;
  background-color: gray;
  color: white;
  margin: 2px;
  border: 2px solid black;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 8px;
}

.favory{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.like{
  color: red;
}

.max {
  color: red;
}

.min {
  color: green;
}

.day{
  color: white;
  text-align: center;
}