body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 20px;
}

label {
	margin-right: 10px;
}

button {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}

.listTasks {
	margin: 20px;
}
