body{
    background-image: url(https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp);
}
h1{
    color:  rgb(14, 180, 209);;
    box-shadow: 7px 7px 7px  rgb(14, 180, 209);;
    text-align: center;
}
#information{
    width: 600px;
    height: 350px;
    border: 3px solid  rgb(14, 180, 209);;
    position:absolute;
    padding-left: 18%;
    padding-top:3%;
    margin-left: 26%;
    margin-top: 13%;
    border-radius: 25px;
}
p{
    
    color: rgb(14, 180, 209); ;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

    
}
#button{
    position: absolute;
    margin-left: 43%;
    margin-top: 40%;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid  rgb(14, 180, 209);;
    color: rgb(14, 180, 209);
    font-family:Arial, Helvetica, sans-serif ;
}
#btn:hover{
    background-color:  rgb(14, 180, 209);;
    color: black;
 }
