body{
    background-color: cadetblue;
}
h1{
    position: absolute;
    left: 40%;
    color: yellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.search{
    position: absolute;
    left: 45%;
    top: 12%;

}
.categories{
    position: absolute;
    left: 33%;
    top: 20%;
    color:white;
   
      
}
.category{
   
    text-decoration: none;
   background-color: rgb(135, 205, 222);
   color: black;
   border-radius: 20px;
   font-weight: 500;
   margin-left: 30px;
   width: 100px;
}
input{
    position: absolute;
    left: 36%;
    top: 13%;
   
}
button{
    position: absolute;
    left: 50%;
    top: 13%;
    width: 80px;
}
.CategoriImage{
    position: absolute;
    top: 40%;
}
.name{
    position: absolute;
   margin-top: 15%;

}
.gallery-image{
    width: 300px;
    height: 300px;
    position: relative;
    margin-top: 20%;
    margin-left: 8%;
}
.gallery-image:hover{
    width: 350px;
}



